@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
  @apply px-10 py-10 flex flex-col items-center justify-center my-auto h-screen
}

.field{
  @apply flex flex-col gap-1 mt-5
}
.input{
  @apply h-10 px-2 outline-none border-2 rounded-sm
}
body {
  margin: 0;
  font-family: -apple-system, blinkmacsystemfont, 'segoe ui', 'roboto', 'oxygen',
    'ubuntu', 'cantarell', 'fira sans', 'droid sans', 'helvetica neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
